request:
  method: POST
  headers:
    Content-Type: application/json
  properties:
    username:
      required: true
      type: string
      length:
        min: 3
        max: 20
    password:
      required: true
      type: string
      length:
        min: 8
        max: 50
    age:
      type: integer
      range:
        min: 18
        max: 40
    birthdate:
      type: string
      format: date
      pattern: '/^\d{4}-\d{2}-\d{2}$/'  # YYYY-MM-DD format
    address:
      required: true
      type: object
      properties:
        street:
          required: true
          type: string
          length:
            min: 3
            max: 10
        city:
          required: true
          type: string
          length:
            min: 3
            max: 20
        state:
          required: true
          type: string
          length:
            min: 2
            max: 2
        zip:
          required: true
          type: string
          length:
            min: 3
            max: 20
